<?xml version="1.0"?>
<!--
/**
 * @category Mxperts
 * @package Mxperts_Invoice
 * @author TMEDIA cross communications <info@tmedia.de>, Johannes Teitge <teitge@tmedia.de>, Daniel Sasse <d.sasse1984@googlemail.com>
 * @copyright TMEDIA cross communications, Doris Teitge-Seifert
 * @license http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->

<config>
    <global>

<!-- Definition des Models/Alias - Mage::getModel('invoice/...')  -->    
        <models>
            <invoice>
                <class>Mxperts_Invoice_Model</class>
            </invoice>     
        </models>
        
        <helpers>
	        <invoice>
            <class>Mxperts_Invoice_Helper</class>
		      </invoice>
	      </helpers>
        
        <blocks>
            <invoice>
               <class>Mxperts_Invoice_Block</class>
            </invoice>
        </blocks>                
        

<!-- Definition der Ressourcen  -->
        <resources>

<!-- Setup,Write,Read Ressourcen definbieren. (Nur Core-Funktionen) -->        
            <invoice_setup>
                <setup>
<!-- Modul welches verwendet werden soll -->                
                    <module>Mxperts_Invoice</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </invoice_setup>
            
            <invoice_write>
                <use>core_write</use>
            </invoice_write>
            
            <invoice_read>
                <use>core_read</use>
            </invoice_read>
            
        </resources>
        
        
    </global> 
    
    
<!-- Uebersetzungen -->    
    <adminhtml>       
        <translate>
            <modules>
                <Mxperts_Invoice>
                    <files>
                        <default>Mxperts_Invoice.csv</default>
                    </files>
                </Mxperts_Invoice>
            </modules>
        </translate>
    </adminhtml>
 
    <frontend>       
        <translate>
            <modules>
                <Mxperts_Invoice>
                    <files>
                        <default>Mxperts_Invoice.csv</default>
                    </files>
                </Mxperts_Invoice>
            </modules>
        </translate>        
    </frontend>     
    
       
    
<!-- Standardeinstellung des Moduls -->    
    <default>
        <payment>
            <invoice>
                <active>0</active>
                <model>invoice/invoice</model>
                <order_status>1</order_status>
                <title>Rechnung</title>
                <allowspecific>0</allowspecific>
            </invoice>
         </payment>
    </default>
    
</config>